MYSQL_USER=admin
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_PASSWORD=password123
MYSQL_DATABASE=todolist
MYSQL_HOST=db
DATABASE_URL=mysql+pymysql://admin:password123@db/todolist
PORT_TASKPOSTMODULE=5000
